.idea/
target/
*.iml
*.iws
*.ipr
pom.xml.versionsBackup
.sass-cache/
.DS_Store
hs_err_pid*
.DS_Store
.directory
*.swp
# LibreOffice locks
.~lock.*#
.repository/
.attach_pid*
sessions
node_modules
dist
.cache
